<div class="container" style="width: 100%; max-width: 500px;">
    <div><h1>Registro de Obras de Arte</h1></div>
    <div>
      <form class="example-form" [formGroup]="form" (submit)="aceptar()">

        <mat-form-field>
            <mat-label>Ingresa el rango</mat-label>
            <mat-date-range-input [rangePicker]="picker" formGroupName="fechaRango">
              <input matStartDate formControlName="hfechaInicio" placeholder="Fecha Inicio">
              <input matEndDate formControlName="hfechaFin" placeholder="Fecha Fin">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <br/>

        <mat-form-field class="example-full-width">
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName="hprecio" />
        </mat-form-field>
        <br/>

        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select  formControlName="hestado">
              @for (m of listarestados; track m) {
              <mat-option [value]="m.value">{{ m.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>


        <mat-form-field>
            <mat-label>usuario</mat-label> 
            <mat-select formControlName="husuario">
              <mat-option *ngFor="let m of listaUsuario" [value]="m.idUsuario">{{ m.nombre }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <mat-label>Titulos</mat-label> 
            <mat-select formControlName="hobraArt">
              <mat-option *ngFor="let m of listaObraArte" [value]="m.idObraArte">{{ m.titulo }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br/>

        <div>
          <button mat-flat-button class="custom-button" type="submit">Aceptar</button>
        </div>
      </form>
    </div>
  </div>