<mat-toolbar class="custom-toolbar">
    
  <div>
    <button mat-button [matMenuTriggerFor]="Menumetodopagos" style="color: white">
        Metodos de pago
    </button>

    <button mat-button [matMenuTriggerFor]="Menucomunidades" style="color: white">
      Comunidades
  </button>
  </div>
</mat-toolbar>

<mat-menu #Menumetodopagos="matMenu">
  <button mat-menu-item routerLink="/metodoPagos" class="custom-menu-item">Listar</button>
  <button mat-menu-item routerLink="/metodoPagos/nuevo" class="custom-menu-item">Registrar</button>
</mat-menu>

<mat-menu #Menucomunidades="matMenu">
  <button mat-menu-item routerLink="/comunidades" class="custom-menu-item">Listar</button>
  <button mat-menu-item routerLink="/comunidades/nuevo" class="custom-menu-item">Registrar</button>
</mat-menu>

<router-outlet></router-outlet> 
