<div class="container">

    <div  style="text-align: center;margin: 5%;"><h1>Lista de Reseñas</h1></div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
           
            <ng-container matColumnDef="c1">           
             <th mat-header-cell *matHeaderCellDef>Código </th>           
             <td mat-cell *matCellDef="let element"> {{element.idResenha}} </td>           
            </ng-container>
           
                  
            <ng-container matColumnDef="c2">           
             <th mat-header-cell *matHeaderCellDef> Calificación (1-10) </th>           
             <td mat-cell *matCellDef="let element"> {{element.calificacion}}  </td>           
            </ng-container>

            <ng-container matColumnDef="c3">           
             <th mat-header-cell *matHeaderCellDef> Comentario </th>           
             <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>           
            </ng-container>
                    
            <ng-container matColumnDef="c4">           
             <th mat-header-cell *matHeaderCellDef> Fecha </th>           
             <td mat-cell *matCellDef="let element"> {{element.fechaResena}} </td>
            </ng-container>
            
            <ng-container matColumnDef="c5">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.usua.nombre}} </td>
              </ng-container>
           
            <ng-container matColumnDef="accion01">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let element" (click)="eliminar(element.idResenha)"> 
                    <mat-icon style="color: hsl(189, 100%, 47%)"mat-icon>delete_outline</mat-icon> </td>
            </ng-container>

            <ng-container matColumnDef="accion02">
                <th mat-header-cell *matHeaderCellDef>Modificar </th>
                <td mat-cell *matCellDef="let element" [routerLink]="['ediciones',element.idResenha]">
                    <mat-icon style="color: hsl(189, 100%, 47%)">edit</mat-icon> 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
    </div>
</div>