<div class="body">
  <mat-toolbar class="custom-toolbar">
    <div class="logo-section">
      <span class="company-name">ArtSwap</span>
      <img src="assets/logoArt.png" alt="Logo ArtSwap" class="logo">
    </div>
    <div class="button-section">
      <button mat-button [matMenuTriggerFor]="Menumetodopagos" style="color: white">
        <mat-icon>payment</mat-icon>Metodos de pago
      </button>
      <button mat-button [matMenuTriggerFor]="Menucomunidades" style="color: white">
        <mat-icon>people_outline</mat-icon>Comunidades
      </button>
      <button mat-button [matMenuTriggerFor]="MenuRoles" style="color: white">
        <mat-icon>poll</mat-icon>Roles
      </button>
      <button mat-button [matMenuTriggerFor]="MenuUsuarios" style="color: white">
        <mat-icon>person</mat-icon>Usuarios
      </button>
      <button mat-button [matMenuTriggerFor]="MenuResenha" style="color: white">
        <mat-icon>rate_review</mat-icon>Reseñas
      </button>
      <button mat-button [matMenuTriggerFor]="MenuObradeArte" style="color: white">
        <mat-icon>photo_album</mat-icon>Obra de Arte
      </button>
      <button mat-button [matMenuTriggerFor]="MenuVenta" style="color: white">
        <mat-icon>shopping_basket</mat-icon>Ventas
      </button>
      <button mat-button [matMenuTriggerFor]="MenuEvento" style="color: white">
        <mat-icon>event_note</mat-icon>Evento
      </button>
    </div>
  </mat-toolbar>
  
  <mat-menu #Menumetodopagos="matMenu">
    <button mat-menu-item routerLink="/metodoPagos" class="custom-menu-item"><mat-icon>list</mat-icon>Listar Metodos de Pagos</button>
    <button mat-menu-item routerLink="/metodoPagos/nuevo" class="custom-menu-item"><mat-icon>playlist_add</mat-icon>Registrar Metodo de Pago</button>
  </mat-menu>
  
  <mat-menu #Menucomunidades="matMenu">
    <button mat-menu-item routerLink="/comunidades" class="custom-menu-item"><mat-icon>list</mat-icon>Listar Comunidades</button>
    <button mat-menu-item routerLink="/comunidades/nuevo" class="custom-menu-item"><mat-icon>playlist_add</mat-icon>Registrar Comunidades</button>
  </mat-menu>
  
  <mat-menu #MenuRoles="matMenu">
    <button mat-menu-item routerLink="/roles" class="custom-menu-item"><mat-icon>list</mat-icon>Listar Roles</button>
    <button mat-menu-item routerLink="/roles/nuevo" class="custom-menu-item"><mat-icon>playlist_add</mat-icon>Registrar Roles</button>
  </mat-menu>
  
  <mat-menu #MenuUsuarios="matMenu">
    <button mat-menu-item routerLink="/usuarios" class="custom-menu-item"><mat-icon>list</mat-icon>Listar Usuarios</button>
    <button mat-menu-item routerLink="/usuarios/nuevo" class="custom-menu-item"><mat-icon>playlist_add</mat-icon>Registrar Usuario</button>
  </mat-menu>
  <mat-menu #MenuResenha="matMenu">
    <button mat-menu-item routerLink="/resenha" class="custom-menu-item"><mat-icon>list</mat-icon>Listar Reseñas</button>
    <button mat-menu-item routerLink="/resenha/nuevo" class="custom-menu-item"><mat-icon>playlist_add</mat-icon>Registrar Reseña</button>
  </mat-menu>
  <mat-menu #MenuObradeArte="matMenu">
    <button mat-menu-item routerLink="/obraartes" class="custom-menu-item"><mat-icon>list</mat-icon>Listar Obras de Arte</button>
    <button mat-menu-item routerLink="/obraartes/nuevo" class="custom-menu-item"><mat-icon>playlist_add</mat-icon>Registrar Obras de Arte</button>
  </mat-menu>
  <mat-menu #MenuVenta="matMenu">
    <button mat-menu-item routerLink="/ventas" class="custom-menu-item"><mat-icon>list</mat-icon>Listar Ventas</button>
    <button mat-menu-item routerLink="/ventas/nuevo" class="custom-menu-item"><mat-icon>playlist_add</mat-icon>Registrar Venta</button>
  </mat-menu>
  <mat-menu #MenuEvento="matMenu">
    <button mat-menu-item routerLink="/eventos" class="custom-menu-item"><mat-icon>list</mat-icon>Listar Eventos</button>
    <button mat-menu-item routerLink="/eventos/nuevo" class="custom-menu-item"><mat-icon>playlist_add</mat-icon>Registrar Evento</button>
  </mat-menu>
  
  <router-outlet></router-outlet>
  
</div>

<footer class="custom-footer">
  <p>&copy; 2024 ArtSwap | Síguenos en:</p>
  <div class="socials">
    <a href="https://facebook.com" target="_blank"><img src="assets/logofacebook.png" alt="Facebook"></a>
    <a href="https://instagram.com" target="_blank"><img src="assets\logoinstra.png" alt="Instagram"></a>
    <a href="https://youtube.com" target="_blank"><img src="assets\youtubelogo.png" alt="YouTube"></a>
    <a href="https://tiktok.com" target="_blank"><img src="assets\tiktoklogo.png" alt="TikTok"></a>
  </div>
</footer>
