<div class="container">
  <div>
    <h1>Registro de Roles</h1>
  </div>
  <div>
    <form class="example-form" [formGroup]="form" (submit)="aceptar()">
      <!-- Campo de Descripción -->
      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput placeholder="Descripción" formControlName="hdescripcion"></textarea>
      </mat-form-field>

      <!-- Campo de Rol -->
      <mat-form-field class="example-full-width">
        <mat-label>Rol</mat-label>
        <input matInput formControlName="hrol" />
      </mat-form-field>

      <!-- Campo de Usuario -->
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="husuario">
          <mat-option *ngFor="let u of listarUsuarios" [value]="u.idUsuario">{{ u.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Botón de Aceptar -->
      <button mat-flat-button class="custom-button">Aceptar</button>
    </form>
  </div>
</div>

  