<div class="container" style="text-align: center;margin:5%">
    <div><h1>Registro de Metodos de pago</h1></div>
    <div>
      <form class="example-form" [formGroup]="form" (submit)="aceptar()">
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo" />
        </mat-form-field>
        <br/>
  
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select  formControlName="htipo">
            @for (m of listarMetodosPago; track m) {
            <mat-option [value]="m.value">{{ m.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <br/>
        
        <mat-form-field class="example-full-width">
          <mat-label>Descripcion</mat-label>
          <input matInput placeholder="Descripcion" formControlName="hdescripcion" />
        </mat-form-field>
        
        
        <div>
          <button mat-flat-button class="custom-button">Aceptar</button>
        </div>
      </form>
    </div>
  </div>