<div class="container" style="width: 100%; max-width: 500px;">
  <div><h1>Registro de Reseñas</h1></div>
  <div>
    <form class="example-form" [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
          <mat-label>Calificación (1-10)</mat-label>
          <input matInput type="number" formControlName="hcalificacion" />
      </mat-form-field>
      <br/>

      <mat-form-field class="example-full-width">
          <mat-label>comentario</mat-label>
          <textarea matInput placeholder="comentario" formControlName="hcomentario" ></textarea>>
      </mat-form-field>
      <br/>

      <mat-form-field>
          <mat-label>Fecha de Reseña</mat-label>      
          <input matInput [matDatepicker]="picker" formControlName="hfecha">      
          <mat-hint>MM/DD/YYYY</mat-hint>      
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>      
          <mat-datepicker #picker></mat-datepicker>      
      </mat-form-field>
      <br/>
      <br>
      <mat-form-field>
        <mat-label>Usuario</mat-label> 
        <mat-select  formControlName="husuario">
          @for (m of listaUsuarios; track m) {
          <mat-option [value]="m.idUsuario">{{ m.nombre }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br>

      <div>
        <button mat-flat-button class="custom-button">Aceptar</button>
      </div>
  </form>
</div>
